{% extends "base.html" %}

{% block title%}
Mshop | Home 
{% endblock %}

{% block content %}
{%  comment %}
 <ol>
    {% for product in products %}

    <li>{{product.name}} - Rs. {{product.price}}</li>

    {% endfor %}
</ol>
{% endcomment %}
<div class = "container">
    {% for product in products %}
    <div class="card" style="width: 22rem;">
      <blockquote class="blockquote mb-0">    </blockquote>
        <img src="{{product.img.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">
            <a href="{% url 'prod_details' product.pk %}">
                {{product.name}}
            </a>
          </h5>
          <p class="card-text">
                {{product.desc}}
          </p>
          <a href="#" class="btn btn-primary">Add Do Cart</a>
        </div>
      </div>
      {% endfor %}
</div>

{% endblock %}
