{% extends "base.html" %}

{% block title %}
 Details : {{ product.name }}
 {% endblock %}
 
 {% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <img class="w-100" src="{{product.img.url}}>" alt="">
        </div>
        <div>
            <h4>
                {{product.name}}
            </h4>
            <span>
                Rs.{{product.price}}
            </span>
            <span>
                {{product.pk}}
            </span>
        </div>
    </div>
</div>
 
 {% endblock %}